<div class="sampleuser_container2">
  <div class="cs_logo2"><%= render partial: 'logo_sample.svg' %></div>
  <div class="sampletext_container">
    <p class="hello">Hi, We're HungryBelly!</p>
    <p>We're like the Kinder Surprise of food delivery, we help you figure out what you're going to eat without the hassle of making up your mind. <span class="surprise">Remember, you don't know what you've ordered until it is delivered to you!</span></p>
    <div class="heart"><i class="fa fa-heart fa-3x"></i></div><p class="left testers">A BIG <span class="ty">THANK YOU</span> for being our very first testers for the app!</p>
    <div class="notes">
    <p>Here are a couple of things to keep in mind:</p>
    <p>1. This app is in its testing phase. So if you have any questions at any moment in time, please call Ellen at 647-298-8996. (Yes, we want you to call us!).</p>
    <p>2. Like all newborn babies, this app needs sleep too. This is so we're fixing bugs on downtime. So if you visit us at 3am, we're probably fixing the app to create a better user experience.</p>
    <p>3. Please have CASH upon food delivery. We don't want to be credit card information pirates. (Secured Credit Card payment will be integrated in later versions of the app.)</p>
    <p>4. Remember to have fun!</p>
    </div>
  </div>


  <br><br><br>


  <div class="usernotes_container">

    <p> If you have allergies* or any other food preferences* (i.e. extreme hatred towards pickles, vegetarian, lactose intolerant etc.), please let us know!</p>

    <p>*We will inform the restaurant of your dietary restrictions, but it cannot be 100% guaranteed</p>

    <textarea rows="10" placeholder="I am allergic to shrimp!"></textarea>


  </div>

  <br><br><br>


  <div class="summary2_container">
      <p>- customer order summary</p>
      <p>- customer notes</p>
      <p>- feed me button</p>
  </div>


  <br><br><br>

  <div class="final_ty_container">
      <div class="cs_logo2"><%= render partial: 'logo_sample.svg' %></div>
      <div class="final_ty_text">
        <p>Now sit back and let your belly be fed!</p>
        <p>We hope you enjoy your surprise!</p>
        <p>Since you're one of our first testers, we would love to hear your feedback!</p>


         <p>If you think your food got lost (more than 45 minute wait time), have no fear! Call Ellen and she will get it fixed right away! 647-298-8996.
      </div>
  </div>


</div>

