<%= form_for @order do |f| %>
<div class="alpha_wrapper">
  <div id="step1_intro" class="step">
    <div class="decorative_stripe"></div>
    <div class="width_limiter">
      
      <div class="intro_container">
        <div class="cs_logo2"><%= render partial: 'logo_sample.svg' %></div>

        <h3>Why hello there!</h3>
        <p>
          Ready for an awesome surprise? HungryBelly takes the decision out of dinner, by sending you a hand-picked delicious meal we hope you'll love.
        </p>
        <h5>Here are a couple of things to keep in mind:</h5>
        <ul>
          <li data-number="1.">
            This app is in its testing phase. If you run into trouble or need help, call Ellen at <span class="yellow">647-298-8996</span>.
          </li>
          <li data-number="2.">
            We're taking orders from 11AM to 9PM, 7 days a week.
          </li>
          <li data-number="3.">
            For now, we don't take debit or credit cards. Please have cash for the deliveryperson.
          </li>
        </ul>

      </div>

      <div class="state_btn" id="state_btn_1" data-state-desired="2">
        Got it, let's start!
      </div>

      <div class="testers">
        <i class="fa fa-heart"></i>
        Thanks for helping us test our app!
      </div>
    </div>
  </div>

  <div id="step2_cuisines" class="step">
    <div class="width_limiter">

      <div class="cuisine_container">
        <h2 class="craving_header">What are you Craving?</h2>
        <h4>Click all that apply.</h4>
        <div class="c6">
          <div class="cat_btn" data-value="#cuisine_Indian">Indian</div>
          <div class="cat_btn" data-value="#cuisine_Chinese">Chinese</div>
          <div class="cat_btn" data-value="#cuisine_Japanese">Japanese</div>
        </div>
        <div class="c6">
          <div class="cat_btn" data-value="#cuisine_American">American</div>
          <div class="cat_btn" data-value="#cuisine_Greek">Greek</div>
          <div class="cat_btn" data-value="#cuisine_Italian">Italian</div>
        </div>
      
      </div>
      
    </div>
  </div>














  <div class="usernotes_container">

    <p> If you have allergies* or any other food preferences* (i.e. extreme hatred towards pickles, vegetarian, lactose intolerant etc.), please let us know!</p>

    <p>*We will inform the restaurant of your dietary restrictions, but it cannot be 100% guaranteed</p>

    <textarea rows="10" placeholder="I am allergic to shrimp!"></textarea>


  </div>

  <br><br><br>


  <div class="summary2_container">
      <p>- customer order summary</p>
      <p>- customer notes</p>
      <p>- feed me button</p>
  </div>


  <br><br><br>

  <div class="final_ty_container">
      <div class="cs_logo2"><%= render partial: 'logo_sample.svg' %></div>
      <div class="final_ty_text">
        <p>Now sit back and let your belly be fed!</p>
        <p>We hope you enjoy your surprise!</p>
        <p>Since you're one of our first testers, we would love to hear your feedback!</p>


         <p>If you think your food got lost (more than 45 minute wait time), have no fear! Call Ellen and she will get it fixed right away! 647-298-8996.
      </div>
  </div>


</div>
<% end %>

<script>
$(document).ready(function() {
  var 
  current_state = 1,
  states = {
    '#step1_intro':      1,
    '#step2_cuisines':   2,
    '#step3_options':    3,
    '#step4_summary':    4
  },
  cuisines = {
    'Indian':     false,
    'Chinese':    false,
    'Jaoanese':   false,
    'American':   false,
    'Greek':      false,
    'Italian':    false
  };

  var change_state = function() {
    var desired_state = $(this).data('state-desired');

    // Are we going FORWARD through the app?
    if ( desired_state > current_state ) {
      _.each(states, function(value, key) {
        if ( value === current_state || value === desired_state ) {
          $(key).animate({
            top: "-100%"
          }, 1000);
        }
      });  

      current_state = desired_state;
    }
  }

  var toggle_cuisine = function() {
    var clicked_cuisine = $(this).text();

    if ( cuisines["clicked_cuisine"] === true ) {
      $(this).removeClass("selected");
      
      cuisines["clicked_cuisine"] = false;
    } else {

    }
  }

  $(".state_btn").on("click", change_state);
  $(".cat_btn").on("click", toggle_cuisine);
});
</script>