<div class="alpha_wrapper">
  <div id="step6_thankyou" class="step">
    <div class="width_limiter">
      <div class="cs_logo3"><%= render partial: 'logo_sample.svg' %></div>
        <div class="ty_final">
          <p class="ty">Thank you!</p>
          <p class="arrive">Your food should arrive shortly!</p>
          <p>In the event that the food delivery is taking longer than 60 minutes, please contact Ellen at <span class="phone">647-298-8996</span>.</p>
          <p class="enjoy">Enjoy!</P>
        </div>
    </div>
  </div>
</div>