
//// COLORS
// Primary Site Colors
$red:     #EE4623;
$green:   #22B573;
$yellow:  #F6C053;
$blue:    #15596E;

// Shades
$white:     #F0F0F0;
$darkgrey:  #333230;
$lightgrey: #DED9D2;


//// GRID
// Sizes
$gutter_size: 25px;

// Breakpoints
$small_breakpoint:  600px;
$medium_breakpoint: 1024px;


//// MISC
// Button width
$button_width: 250px;