@import 'variables';


html, body, .alpha_wrapper, .new_order {
  height: 100%;
  overflow: hidden;
}

.yellow {
  color: $yellow;
}

.bg_green {
  background-color: $green;
}
.bg_blue {
  background-color: $blue;
}

.width_limiter {
  max-width: 700px;
  margin: 0 auto;
}

.step {
  position: relative;
  overflow: scroll;
  height: 100%;
}



#step1_intro {
  background: $yellow;
  color: #fff;

  .decorative_stripe {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 25%;
    background-color: $green;
  }

  .cs_logo2 {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -60px;
    z-index: 3;
    text-align: center;

    svg {
      height: 150px;
      width: 120px;
    }
  }



  .intro_container {
    position: relative;
    z-index: 2;
    border-radius: 30px 30px 10px 10px;
    background: #3498db;
    margin: 6rem 1.5rem 0 1.5rem;
    padding: 1.8rem 1rem 1rem 1rem;
    border-bottom: 3px solid darken($blue, 20%);
    border-right: 1px solid darken($blue, 12%);

    h3 {
      font-size: 1.6rem;
      text-align: center;
      color: #34495e
    }

    h5 {
      background: $red;
      text-align: center;
      margin: 2rem -1rem 0.5rem -1rem;
      padding: 0.5rem;
    }
    p {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      color: lighten($yellow, 10%);
      text-align: justify;
    }

    li {
      line-height: 1.5em;
      padding: 0.5rem 0;
      border-bottom: 1px dotted darken($blue, 15%);

      &:last-of-type {
        border-bottom: 0px;
        padding-bottom: 0;
      }
      &:before {
        content: attr(data-number);
        position: relative;
        font-size: 1.3em;
        display: inline-block;
        font-weight: bold;
        padding-right: 0.25rem;

        color: $yellow;
      }
    }

    .ty {
      margin-top: 0.5rem;
      color: lighten($green, 25%);
    }
  }

  #state_btn_1 {
    position: relative;
    z-index: 2;
    margin: 1.5rem;
    padding: 1.5rem;
    background: $green;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    text-shadow: 1px 1px 0px darken($green, 10%);
    border-bottom: 3px solid darken($green, 20%);
    border-right: 1px solid darken($green, 12%);
  }


  .heart {

  }

  .testers {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.3rem;
    color: $red;

    .fa-heart {
      color: $red;
    }
  }
}



#step2_cuisines {
  background: $lightgrey;
  
  h2 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    text-align: center;
  }
  
  h4 {
    text-align: center;
    color: lighten($darkgrey, 20%);
    font-weight: normal;
    padding-bottom: 1rem;
  }

  .cuisine_container {
    position: relative;
    background: $lightgrey;
    width:100%;
    padding: 0 1rem;
    height: auto;
  }

  .cuisines {
    width: 100%;
    margin: 0 auto;
  }

  .cat_btn {
    color: #fff;
    background-color: $blue;
    border: none;
    font-size: 24px;
    width: 100%;
    padding: 20px 0px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
  }
  .selected {
    background-color: $green !important;
  }
  .cuisine_checkbox {
    display: none;
  }

  #state_btn_2 {
    background: $red;
    width: 100%;
    color: #FFF;
    font-size: 30px;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    margin-top: 1.5rem;
  }

}


#step3_options {
  background: $darkgrey;
  
  h2 {
    font-size: 2rem;
    color: lighten($yellow, 15%);
    margin-bottom: 0.75rem;
  }

  .choice {
    text-align: center;
    color: #FFF;
    padding: 2rem 1rem;
    margin: 1rem 1rem 0 1rem;
  }

  .select_container {
    background: $blue;
    border: 1px solid $blue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }

  .select_dropdown, .select_dropdown2 {
    margin: 15px auto;
    text-align: center;
  }

 select {
    border: 0 !important;.  /*Removes border*/
     -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;  /*Removes default style Firefox*/
    appearance: none;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/
    font-size: 2.5rem;
    background: none;
    color: #fbfcfc;
    text-decoration: underline;
    font-weight: bold;
    outline: none;
  }

  .click_change {
    &.green {
      color: lighten($green, 30%);
    }
    &.blue {
      color: lighten($blue, 30%);
    }
  }

  .delivery_header {
    color: $yellow;
    text-align: center;
    font-size: 2.2rem;
    margin: 1.5rem 0;
  }

  .address_inputs {
    padding: 0 1rem;

    input[type=text] {
      margin: 0.2rem 0;
      padding: 0.25rem;
      width: 100%;
    }
  }
  #state_btn_3 {
    position: relative;
    z-index: 2;
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: $red;
    width: 100%;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
  }
}


#step4_notes {
  background: $red;

  .notes_container {
    margin: 30px 15px;

    .toknow {
      color: #fff;
      font-size: 2rem;
      margin-bottom: 5px;
    }

    .notes_text{
    background: #FFFCF4;
    padding: 10px;
    border-radius: 10px;
    }

    .allergies {
      font-size: 1.4rem;
      padding: 20px 0;
    }

    .italicize {
      font-style: italic;
    }

    .inform {
      padding-bottom:22px;
    }

    textarea {
      width: 100%;
      background: #313A47;
      border: none;
      border-radius: 3px;
      font-size: 1rem;
      color: #fff;
    }

     #state_btn_4 {
    position: relative;
    z-index: 2;
    margin: 1.5rem;
    padding: 1.5rem;
    background: $yellow;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    text-shadow: 1px 1px 0px darken($yellow, 10%);
    border-bottom: 3px solid darken($yellow, 20%);
    border-right: 1px solid darken($yellow, 12%);
    color: #fff;
  }

  }
}



#step5_confirmation {
  background: #ded9d2;

  .summary1_container {
    padding: 20px 15px;

    p {
      font-size: 1.3rem;
    }
  }

  .last_thing {
    font-size: 2rem;
    background: #3d566e;
    color: #fff;
    padding: 15px 20px;
  }

  .summarize {
    background: #fff;
    margin: 20px 0px;
    padding: 15px 10px;
    border-radius: 9px;
    font-size: 1.2rem;
  }

  .button {
    top: 0px;
    background: #ee3e23;
  }

  #state_btn_5 {
    left: 50%;
    margin-left: -100px;
  }

}

#step6_thankyou {
  background: $blue;


  .cs_logo3 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 280px;

    svg {
      width: 200px;
      margin-top: -165px;
    }
  }

  .ty_final {
    text-align: center;
    background: #f3f7ec;
    margin: 0px 10px;
    border-radius: 13px;
    padding: 15px 5px;

    .ty {
      font-size: 2.5rem;
      color: #34495e;
      font-weight: bold;
      padding-bottom: 10px;
    }

    .arrive{
      font-size: 1.3rem;
      padding-bottom: 10px;
    }

    .phone {
      color: $blue;
    }

    .enjoy {
      font-size: 2.8rem;
      color: #34495e;
      font-weight: bold;
      margin-top: 20px;
    }

  }

}





.usernotes_container {
  color: #000;

  textarea {
    width: 100%;
  }

}

.summary2_container {
  color: #000;
}

.final_ty_container {
  color: #000;
}

.final_ty_text {
  border: 1px solid #2ecc71;
  border-radius: 10px;
  background: #2ecc71;
  margin-top: -300px;
  padding: 0 10px;
  text-align: center;
}

.sampletext_container, .usernotes_container,
.summary2_container, .final_ty_container{

  p {
    margin-bottom: 13px;
  }

  p:last-child {
    padding-bottom: 15px;
  }
}





@media screen and (min-width: 700px) {
  #step3_options .choice {
    margin: 1rem 0 0 0;
  }
}

