body {
  background: #fff;
}


.lets_eat {
  width: 100% !important;
}

.cuisine_container {
  width: 100% !important;
  padding-top: 30px;
}

.order_container, .delivery_container, .feed_me_container {
  height: none !important;
}

.lets_eat {
  position: relative !important;
}

.lets_eat_buttons {
  margin-top: 8% !important;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: 8px;
  top: -6px;
}
