.sampleuser_container{
  background: #fff;

  .step1, .step2{
    width: 100%;
  }

  .lets_eat {
    width: 100%;
  }

  .cuisine_container {
    width: 100%;
    padding-top: 30px;
  }

  .order_container, .delivery_container, .feed_me_container {
    height: none;
  }

  .lets_eat {
    position: relative;
  }

  .lets_eat_buttons {
    margin-top: 8% ;
  }

  #slider {
    width: 100%;
  }

  .order_details, .delivery_details, .feed_me, .billing_details {
    width: 100%;
    max-width: 400px;
  }

}

.sampleuser_container2 {
  padding: 0 20px;
  color: #fff;

  .cs_logo2 svg {
    width: 120px;
  }

  .cs_logo2 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: -242px;
  }

    .sampletext_container {
    border: 1px solid #3498db;
    border-radius: 10px;
    background: #3498db;
    margin-top: -300px;
    padding: 0 10px;
    text-align: center;
  }

  .sampletext_container, .usernotes_container{

     p {
        margin-bottom: 13px;
      }
      p:first-child {
      padding-top: 45px;
      }

      p:last-child {
        padding-bottom: 15px;
      }
  }

  .hello {
    font-size: 25px;
    color: #34495e
  }

  .surprise {
    font-style: italic;
  }

  .heart {
    float: left;
    .fa-heart {
      color: #e74c3c;
    }
  }

  .left {
    text-align: left;
  }

  .testers {
    padding-left: 64px;
    margin-top: 22px;
  }

  .ty {
    color: #e74c3c;
  }

  .notes {
    margin-top: 23px;
    text-align: left;
  }

  .usernotes_container {
    color: #000;

    textarea {
      width: 100%;
    }

  }


}





